.card {
  position: relative;
  background: hsl(217, 19%, 24%);
  padding: 3rem;
  padding-bottom: 0;
  width: 80vmin;
  min-height: 340px;
  margin: 0 auto;
  border-radius: 1rem;
  display: grid;
}

@media (max-width: 768px) {
  .card {
    padding: 2rem;
  }
}
