.card {
  background: hsl(217, 19%, 24%);
  padding: 3rem;
  padding-bottom: 0;
  width: 90vmin;
  aspect-ratio: 16/10;
  margin: 0 auto;
  border-radius: 1rem;
  display: grid;
  align-content: space-between;
}
